[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
'pymongo[srv]' = "*"
python-dotenv = "*"
binance-futures-connector = "*"
pytz = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
